// Heights
.spacer-img[height="5"]{ height: 1.5vw !important; }
.spacer-img[height="10"]{ height: 3vw !important; }
.spacer-img[height="15"]{ height: 4.5vw !important; }
.spacer-img[height="20"]{ height: 6vw !important; }
.spacer-img[height="25"]{ height: 7.6vw !important; }
.spacer-img[height="30"]{ height: 9vw !important; }
.spacer-img[height="35"]{ height: 10.4vw !important; }
.spacer-img[height="40"]{ height: 12vw !important; }
.spacer-img[height="45"]{ height: 13.5vw !important; }
.spacer-img[height="50"]{ height: 14.8vw !important; }
.spacer-img[height="55"]{ height: 16.4vw !important; }
.spacer-img[height="60"]{ height: 17.8vw !important; }
.spacer-img[height="65"]{ height: 19.4vw !important; }
.spacer-img[height="70"]{ height: 21vw !important; }
.spacer-img[height="75"]{ height: 22.4vw !important; }
.spacer-img[height="80"]{ height: 24vw !important; }
.spacer-img[height="85"]{ height: 25.4vw !important; }
.spacer-img[height="90"]{ height: 27vw !important; }
.spacer-img[height="95"]{ height: 28.5vw !important; }
.spacer-img[height="100"]{ height: 29.8vw !important; }

// Widths
.spacer-img[width="5"]{ width: 1.5vw !important; }
.spacer-img[width="10"]{ width: 3vw !important; }
.spacer-img[width="15"]{ width: 4.5vw !important; }
.spacer-img[width="20"]{ width: 6vw !important; }
.spacer-img[width="25"]{ width: 7.6vw !important; }
.spacer-img[width="30"]{ width: 9vw !important; }
.spacer-img[width="35"]{ width: 10.4vw !important; }
.spacer-img[width="40"]{ width: 12vw !important; }
.spacer-img[width="45"]{ width: 13.5vw !important; }
.spacer-img[width="50"]{ width: 14.8vw !important; }
.spacer-img[width="55"]{ width: 16.4vw !important; }
.spacer-img[width="60"]{ width: 17.8vw !important; }
.spacer-img[width="65"]{ width: 19.4vw !important; }
.spacer-img[width="70"]{ width: 21vw !important; }
.spacer-img[width="75"]{ width: 22.4vw !important; }
.spacer-img[width="80"]{ width: 24vw !important; }
.spacer-img[width="85"]{ width: 25.4vw !important; }
.spacer-img[width="90"]{ width: 27vw !important; }
.spacer-img[width="95"]{ width: 28.5vw !important; }
.spacer-img[width="100"]{ width: 29.8vw !important; }


.spacer-img.mobile-hide, .spacer-img.hide-on-mobile{ display: none !important; }