{% include "content.start.twig" with { class: "copy juniper t-24" } %}
    Lorem Ipsum
{% include "content.spacer.twig" with { class: "copy t-18" } %}
    Cras dapibus <span class="copy--aluminium"> - 6 June 2017</span>
{% include "content.spacer.twig" with { height: 15, class: "onyx copy t-14 justify" } %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vehicula dolor nec tellus aliquam, id blandit purus suscipit.
    Etiam vel nulla vel lacus dignissim sodales.
{% include "content.spacer.twig" with { height: 20 } %}

    {% include "button.twig" with {
        top: 10, bottom: 10, left: 15, right: 15,
        href: "https://www.rathbones.com/", text: "Read more",
        outer_class: "bg--juniper", link_class: "t-14"
    } %}

{% include "content.end.twig" %} 