// Social Colours
$mariner: #3B5998;          // facebook
$deep-sky-blue: #00ACEE;    // twitter
$cinnabar: #DB4A39;         // google

// Monochrome
$mine-shaft: #333333;
$storm-dust: #616365;
$dark-grey: #535353;
$chicago: #5D5D5D;
$raven: #535353;
$mountain-mist: #909193;
$grey-nurse: #EAEAE9;
$athens-grey: #DFDFDF;
$zircon: #E0E0E0;
$gallery: #EFEFEF;
$hint-of-red: #F9F8F9;
$white: #ffffff;

.mine-shaft{ color: $mine-shaft; }
.storm-dust{ color: $storm-dust; }
.dark-grey{ color: $dark-grey; }
.chicago{ color: $chicago; }
.raven{ color: $raven; }
.mountain-must{ color: $mountain-mist; }
.grey-nurse{ color: $grey-nurse; }
.athens-grey{ color: $athens-grey; }
.zircon{ color: $zircon; }
.gallery{ color: $gallery; }
.hint-of-red{ color: $hint-of-red; }
.white{ color: $white; }
.bg--mine-shaft{ background-color: $mine-shaft; }
.bg--storm-dust{ background-color: $storm-dust; }
.bg--dark-grey{ background-color: $dark-grey; }
.bg--chicago{ background-color: $chicago; }
.bg--raven{ background-color: $raven; }
.bg--mountain-must{ background-color: $mountain-mist; }
.bg--grey-nurse{ background-color: $grey-nurse; }
.bg--athens-grey{ background-color: $athens-grey; }
.bg--zircon{ background-color: $zircon; }
.bg--gallery{ background-color: $gallery; }
.bg--hint-of-red{ background-color: $hint-of-red; }
.bg--white{ background-color: $white; }

// Palette 1
$onyx: #14080E;
$river-bed: #49475A;
$juniper: #799496;
$norway: #ACC098;
$primrose: #E9EAA2;

.onyx{ color: $onyx; }
.river-bed{ color: $river-bed; }
.juniper{ color: $juniper; }
.norway{ color: $norway; }
.primrose{ color: $primrose; }
.bg--onyx{ background-color: $onyx; }
.bg--river-bed{ background-color: $river-bed; }
.bg--juniper{ background-color: $juniper; }
.bg--norway{ background-color: $norway; }
.bg--primrose{ background-color: $primrose; }

// Palette 2 - P+S
$cardinal: #D12237;
$pelorous: #37B2BA;
$supernova: #F5B236;
$rich-lilac: #B467CB;

.cardinal{ color: $cardinal; }
.pelorous{ color: $pelorous; }
.supernova{ color: $supernova; }
.rich-lilac{ color: $rich-lilac; }
.bg--cardinal{ background-color: $cardinal; }
.bg--pelorous{ background-color: $pelorous; }
.bg--supernova{ background-color: $supernova; }
.bg--rich-lilac{ background-color: $rich-lilac; }

// Palette 3 - Abstract Hills
$daintree: #04293D;
$zumthor: #CFD1D3;
$chathams-blue: #2E566E;
$smalt-blue: #5C7C93;
$cadet-grey: #8EA4B4;
$casper: #ACBCCA;

.daintree{ color: $daintree; }
.zumthor{ color: $zumthor; }
.chathams-blue{ color: $chathams-blue; }
.smalt-blue{ color: $smalt-blue; }
.cadet-grey{ color: $cadet-grey; }
.casper{ color: $casper; }
.bg--daintree{ background-color: $daintree; }
.bg--zumthor{ background-color: $zumthor; }
.bg--chathams-blue{ background-color: $chathams-blue; }
.bg--smalt-blue{ background-color: $smalt-blue; }
.bg--cadet-grey{ background-color: $cadet-grey; }
.bg--casper{ background-color: $casper; }