@import "colours";

// Scaffold
$container-width: 640px; 
$mobile-break-point: 600px;

// Copy
$sans-serif-font: "Arial";
$serif-font: "Georgia";
$base-font-color: #7d7f81;
$body-copy-font: $sans-serif-font;

// Scaffold
$email-background: #ffffff;

// Links
$link-color: blue;

// Rules
$horizontal-rule: #DBDBDB; 

// VW Conversion
// This value is the mobile breakpoint minus the 'px' as this serves as the context for vw units.
$vw_base: 600; 