@import "colours";

// Scaffold
$container-width: 630px;
$mobile-break-point: 600px;

// Copy
$base-font: "Arial";
$serif-font: "Georgia";
$base-font-color: #7d7f81;
$body-title-font: $base-font;
$body-copy-font: $base-font;
$footer-font: $base-font;
$button-font: $base-font;

// Scaffold
$email-background: #ffffff;

// Links
$link-color: blue;

// Rules
$horizontal-rule: #DBDBDB;