<table 
	{% include 'table-reset.twig' %}
	{% include 'properties.outer.twig' %}
>
	{% include 'spacer.tr.twig' with { class: "iso-spacer", width: width, height: height, class: class, attributes: attributes } only %}
</table>