table{
	&.container{
		td.container-body{ width: 100% !important; }
		tr{
			&.container-spacer-top, &.container-spacer-bottom{ display: none; }
		}
	}
}

// Generic mobile only helpers
.hide-on-mobile{ display: none !important; }
.center-on-mobile{ text-align: center !important; }

// VW Measures helper classes for mobile only
@for $i from 0 through 100 {
	.mvw-#{$i}{ width: #{$i}vw !important; }
}