// Makes type relative to screen size, not sure if we should use this

//$bvw: 2vw;
/*
.t-12{ font-size: $bvw !important; line-height: $bvw+2.2 !important; }
.t-14{ font-size: $bvw+0.7 !important; line-height: $bvw+2.7 !important; }
.t-16{ font-size: $bvw+1.2 !important; line-height: $bvw+3.3 !important; }
.t-18{ font-size: $bvw+1.5 !important; line-height: $bvw+3.9 !important; }
.t-20{ font-size: $bvw+2 !important; line-height: $bvw+4.5 !important; }
.t-22{ font-size: $bvw+2.5 !important; line-height: $bvw+5.1 !important; }
.t-24{ font-size: $bvw+3 !important; line-height: $bvw+5.7 !important; }
.t-26{ font-size: $bvw+3.5 !important; line-height: $bvw+6.3 !important; }
.t-28{ font-size: $bvw+4 !important; line-height: $bvw+6.9 !important; }
.t-30{ font-size: $bvw+4.6 !important; line-height: $bvw+7.5 !important; }
.t-32{ font-size: $bvw+5.1 !important; line-height: $bvw+8.1 !important; }
.t-34{ font-size: $bvw+5.8 !important; line-height: $bvw+8.7 !important; }
.t-36{ font-size: $bvw+6.5 !important; line-height: $bvw+9.3 !important; }
.t-38{ font-size: $bvw+7.0 !important; line-height: $bvw+9.9 !important; }
.t-40{ font-size: $bvw+7.6 !important; line-height: $bvw+10.5 !important; }
*/

.bold-on-mobile { font-weight: bold !important; }
